img:hover {
    width: 400px;
    cursor: progress;
}

.invitation {
    background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url("./img/fireworks3.png");
    background-size: 500px;
    height: 400px;
    width: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:whitesmoke;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.last {
    font-size: small;
    font-style: normal;
    color: grey;

}

h2 {
    font-size: xx-large;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(201, 175, 31);
    border-top: 10px;
    
}

.farouge {
    font-style: italic;
    font-size: xx-large;
    color:  rgb(201, 175, 31);
}